ARUS_DB_USER=arus
ARUS_DB_PASSWORD=arus_secret
ARUS_DB_NAME=arus_warehouse
ARUS_ADMIN_EMAIL=admin@arus.io
ARUS_ADMIN_PASSWORD=admin123
ARUS_JWT_SECRET=
ARUS_ENCRYPTION_KEY=
ARUS_LOG_LEVEL=INFO
ARUS_DEFAULT_SCHEDULE=*/5 * * * *
ARUS_BATCH_SIZE=10000
ARUS_RETRY_MAX=3
ARUS_AUTO_ALTER_SCHEMA=false
ARUS_QUALITY_CHECK_THRESHOLD=5.0
ARUS_TELEGRAM_BOT_TOKEN=
ARUS_TELEGRAM_CHAT_ID=
TZ=UTC
